<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
	</settings>
	<typeAliases>
		<typeAlias alias="Poetries" type="com.jkxy.entity.Poetries"></typeAlias>
		<typeAlias alias="Poets" type="com.jkxy.entity.Poets"></typeAlias>
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/poetries.xml"/>
		<mapper resource="mybatis/poets.xml"/>
	</mappers>

</configuration>